/* define variables for reusability */
:root {
  --nav: #44D362;
  --content: #E6E6CA;
}

/* Change default font family of our page */
* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;  
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #007bff;
}

a {
  text-decoration: none;
  color: black;
}

.bg-nav {
  background-color: var(--nav);
}

/* Resize the image height and width */
img {
  height: 250px;
  width: 250px;
  /*width: 100%;
  height: auto;
   Magic! 
  max-width: 10vw;*/
}

#landing {
  /*background-color: var(--content);*/
  height: 80vh;
  /* will center elements vertically using Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery {
  height: 75vh;
  border-radius: 6px;
  margin-bottom: 16px;
  /* will center elements vertically using Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
}

/* Overrides Bootstrap CSS rules*/
.jumbotron {
  background-color: transparent;
}